
services:

  vllm-reranker-vl:
    image: vishva123/vllm-server-cuda-12.8.1
    container_name: vllm-reranker-vl

    ports:
      - "3131:3131"

    ipc: host

    ulimits:
      memlock: -1
      stack: 67108864

    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: -1
              capabilities: [gpu]

    volumes:
      - ./Models:/root/.cache/huggingface

    command: >
      Qwen/Qwen3-VL-Reranker-2B
      --host 0.0.0.0
      --port 3131
      --runner pooling
      --max-model-len 8192
      --gpu-memory-utilization 0.85
      --enforce-eager

